<header>
  <nav>
    <a href="/">Home</a>
    <a href="/products">Products</a>
    <a href="/">About</a>
  </nav>
</header>

<style>
  nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    z-index: 5;
  }
  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  a:hover {
    color: rgb(255, 90, 203);
    text-decoration: underline;
    transform: scale(1.1);
  }
  nav {
    position: relative;
    z-index: 2;
  }
</style>
